<a href="https://colab.research.google.com/github/SDS-AAU/SDS-master/blob/master/M1/notebooks/dsba_workshop2_Predicting_AirBnb_prices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
listings = pd.read_csv('http://data.insideairbnb.com/denmark/hovedstaden/copenhagen/2020-06-26/data/listings.csv.gz', compression='gzip')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (43,61,62,94) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
listings.price = listings.price.str.replace(',','')
listings.price = listings.price.str.replace('$','')
listings.price = listings.price.astype(float)

In [ ]:
listings.cleaning_fee = listings.cleaning_fee.str.replace(',','')
listings.cleaning_fee = listings.cleaning_fee.str.replace('$','')
listings.cleaning_fee = listings.cleaning_fee.astype(float)

In [ ]:
listings['price_total'] = listings.price + listings.cleaning_fee

In [ ]:
listings_clean = listings[listings.price_total < listings.price_total.quantile(0.85)]

In [ ]:
listings_clean = listings_clean[listings.number_of_reviews > 10]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [ ]:
listings_clean.head(1).loc[:,'neighbourhood_cleansed':]

  neighbourhood_cleansed  ...  price_total
0                Nrrebro  ...        398.0

[1 rows x 68 columns]

In [ ]:
listings_clean.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6578 entries, 0 to 27378
Data columns (total 107 columns):
 #   Column                                        Dtype
---  ------                                        -----
 0   id                                            int64
 1   listing_url                                   object
 2   scrape_id                                     int64
 3   last_scraped                                  object
 4   name                                          object
 5   summary                                       object
 6   space                                         object
 7   description                                   object
 8   experiences_offered                           object
 9   neighborhood_overview                         object
 10  notes                                         object
 11  transit                                       object
 12  access                                        object
 13  interaction                                   object
 14  house_rules                                   object
 15  thumbnail_url                                 float64
 16  medium_url                                    float64
 17  picture_url                                   object
 18  xl_picture_url                                float64
 19  host_id                                       int64
 20  host_url                                      object
 21  host_name                                     object
 22  host_since                                    object
 23  host_location                                 object
 24  host_about                                    object
 25  host_response_time                            object
 26  host_response_rate                            object
 27  host_acceptance_rate                          object
 28  host_is_superhost                             object
 29  host_thumbnail_url                            object
 30  host_picture_url                              object
 31  host_neighbourhood                            object
 32  host_listings_count                           float64
 33  host_total_listings_count                     float64
 34  host_verifications                            object
 35  host_has_profile_pic                          object
 36  host_identity_verified                        object
 37  street                                        object
 38  neighbourhood                                 object
 39  neighbourhood_cleansed                        object
 40  neighbourhood_group_cleansed                  float64
 41  city                                          object
 42  state                                         object
 43  zipcode                                       object
 44  market                                        object
 45  smart_location                                object
 46  country_code                                  object
 47  country                                       object
 48  latitude                                      float64
 49  longitude                                     float64
 50  is_location_exact                             object
 51  property_type                                 object
 52  room_type                                     object
 53  accommodates                                  int64
 54  bathrooms                                     float64
 55  bedrooms                                      float64
 56  beds                                          float64
 57  bed_type                                      object
 58  amenities                                     object
 59  square_feet                                   float64
 60  price                                         float64
 61  weekly_price                                  object
 62  monthly_price                                 object
 63  security_deposit                              object
 64  cleaning_fee                                  float64
 65  guests_included                               int64
 66  extra_people                                  object
 67  minimum_nights                                int64
 68  maximum_nights                                int64
 69  minimum_minimum_nights                        int64
 70  maximum_minimum_nights                        int64
 71  minimum_maximum_nights                        int64
 72  maximum_maximum_nights                        int64
 73  minimum_nights_avg_ntm                        float64
 74  maximum_nights_avg_ntm                        float64
 75  calendar_updated                              object
 76  has_availability                              object
 77  availability_30                               int64
 78  availability_60                               int64
 79  availability_90                               int64
 80  availability_365                              int64
 81  calendar_last_scraped                         object
 82  number_of_reviews                             int64
 83  number_of_reviews_ltm                         int64
 84  first_review                                  object
 85  last_review                                   object
 86  review_scores_rating                          float64
 87  review_scores_accuracy                        float64
 88  review_scores_cleanliness                     float64
 89  review_scores_checkin                         float64
 90  review_scores_communication                   float64
 91  review_scores_location                        float64
 92  review_scores_value                           float64
 93  requires_license                              object
 94  license                                       object
 95  jurisdiction_names                            float64
 96  instant_bookable                              object
 97  is_business_travel_ready                      object
 98  cancellation_policy                           object
 99  require_guest_profile_picture                 object
 100 require_guest_phone_verification              object
 101 calculated_host_listings_count                int64
 102 calculated_host_listings_count_entire_homes   int64
 103 calculated_host_listings_count_private_rooms  int64
 104 calculated_host_listings_count_shared_rooms   int64
 105 reviews_per_month                             float64
 106 price_total                                   float64
dtypes: float64(26), int64(21), object(60)
memory usage: 5.4+ MB

In [ ]:
listings_clean['property_type'].value_counts()

Apartment             5554
Condominium            563
House                  185
Townhouse              100
Loft                    82
Villa                   21
Guest suite             14
Guesthouse              13
Hostel                   9
Bungalow                 8
Houseboat                7
Boat                     6
Bed and breakfast        4
Serviced apartment       4
Tiny house               3
Cottage                  1
Boutique hotel           1
Cabin                    1
Hotel                    1
Hut                      1
Name: property_type, dtype: int64

In [ ]:
listings_clean['bed_type'].value_counts()

Real Bed         6428
Pull-out Sofa      88
Futon              40
Couch              12
Airbed             10
Name: bed_type, dtype: int64

In [ ]:
listings_clean = listings_clean[listings_clean.property_type.isin(['Apartment','Condominium','House'])]
listings_clean = listings_clean[listings_clean.bed_type.isin(['Real Bed','Pull-out Sofa'])]

In [ ]:
y = listings_clean.price_total

In [ ]:
X = listings_clean.iloc[:,[39,51,52,53,54,55,56,57]]

In [ ]:
X

          neighbourhood_cleansed property_type  ... beds  bed_type
0                        Nrrebro     Apartment  ...  1.0  Real Bed
3      Vesterbro-Kongens Enghave     Apartment  ...  1.0  Real Bed
4                        sterbro     Apartment  ...  3.0  Real Bed
6      Vesterbro-Kongens Enghave     Apartment  ...  2.0  Real Bed
8      Vesterbro-Kongens Enghave     Apartment  ...  1.0  Real Bed
...                          ...           ...  ...  ...       ...
26850                Amager Vest     Apartment  ...  4.0  Real Bed
26870                    sterbro     Apartment  ...  4.0  Real Bed
26962                    sterbro     Apartment  ...  3.0  Real Bed
27181                  Amager st     Apartment  ...  1.0  Real Bed
27349                  Amager st     Apartment  ...  3.0  Real Bed

[6243 rows x 8 columns]

In [ ]:
X = pd.get_dummies(X)

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [ ]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6243 entries, 0 to 27349
Data columns (total 23 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   accommodates                                      6243 non-null   int64
 1   bathrooms                                         6243 non-null   float64
 2   bedrooms                                          6241 non-null   float64
 3   beds                                              6242 non-null   float64
 4   neighbourhood_cleansed_Amager Vest                6243 non-null   uint8
 5   neighbourhood_cleansed_Amager st                  6243 non-null   uint8
 6   neighbourhood_cleansed_Bispebjerg                 6243 non-null   uint8
 7   neighbourhood_cleansed_Brnshj-Husum               6243 non-null   uint8
 8   neighbourhood_cleansed_Frederiksberg              6243 non-null   uint8
 9   neighbourhood_cleansed_Indre By                   6243 non-null   uint8
 10  neighbourhood_cleansed_Nrrebro                    6243 non-null   uint8
 11  neighbourhood_cleansed_Valby                      6243 non-null   uint8
 12  neighbourhood_cleansed_Vanlse                     6243 non-null   uint8
 13  neighbourhood_cleansed_Vesterbro-Kongens Enghave  6243 non-null   uint8
 14  neighbourhood_cleansed_sterbro                    6243 non-null   uint8
 15  property_type_Apartment                           6243 non-null   uint8
 16  property_type_Condominium                         6243 non-null   uint8
 17  property_type_House                               6243 non-null   uint8
 18  room_type_Entire home/apt                         6243 non-null   uint8
 19  room_type_Private room                            6243 non-null   uint8
 20  room_type_Shared room                             6243 non-null   uint8
 21  bed_type_Pull-out Sofa                            6243 non-null   uint8
 22  bed_type_Real Bed                                 6243 non-null   uint8
dtypes: float64(3), int64(1), uint8(19)
memory usage: 359.7 KB

In [ ]:
X.iloc[:,:4] = scaler.fit_transform(X.iloc[:,:4])

In [ ]:
from fancyimpute import SoftImpute

In [ ]:
X.iloc[:,:4] = SoftImpute().fit_transform(X.iloc[:,:4])

[SoftImpute] Max Singular Value of X_init = 124.757562
[SoftImpute] Iter 1: observed MAE=0.020944 rank=4
[SoftImpute] Iter 2: observed MAE=0.020944 rank=4
[SoftImpute] Iter 3: observed MAE=0.020944 rank=4
[SoftImpute] Iter 4: observed MAE=0.020944 rank=4
[SoftImpute] Iter 5: observed MAE=0.020944 rank=4
[SoftImpute] Iter 6: observed MAE=0.020944 rank=4
[SoftImpute] Iter 7: observed MAE=0.020944 rank=4
[SoftImpute] Iter 8: observed MAE=0.020944 rank=4
[SoftImpute] Iter 9: observed MAE=0.020944 rank=4
[SoftImpute] Iter 10: observed MAE=0.020944 rank=4
[SoftImpute] Iter 11: observed MAE=0.020944 rank=4
[SoftImpute] Iter 12: observed MAE=0.020944 rank=4
[SoftImpute] Iter 13: observed MAE=0.020944 rank=4
[SoftImpute] Iter 14: observed MAE=0.020944 rank=4
[SoftImpute] Iter 15: observed MAE=0.020944 rank=4
[SoftImpute] Iter 16: observed MAE=0.020944 rank=4
[SoftImpute] Iter 17: observed MAE=0.020944 rank=4
[SoftImpute] Iter 18: observed MAE=0.020944 rank=4
[SoftImpute] Iter 19: observed MAE=0.020944 rank=4
[SoftImpute] Iter 20: observed MAE=0.020944 rank=4
[SoftImpute] Iter 21: observed MAE=0.020944 rank=4
[SoftImpute] Iter 22: observed MAE=0.020944 rank=4
[SoftImpute] Iter 23: observed MAE=0.020944 rank=4
[SoftImpute] Iter 24: observed MAE=0.020944 rank=4
[SoftImpute] Iter 25: observed MAE=0.020944 rank=4
[SoftImpute] Iter 26: observed MAE=0.020944 rank=4
[SoftImpute] Iter 27: observed MAE=0.020944 rank=4
[SoftImpute] Iter 28: observed MAE=0.020944 rank=4
[SoftImpute] Iter 29: observed MAE=0.020944 rank=4
[SoftImpute] Iter 30: observed MAE=0.020944 rank=4
[SoftImpute] Iter 31: observed MAE=0.020944 rank=4
[SoftImpute] Iter 32: observed MAE=0.020944 rank=4
[SoftImpute] Iter 33: observed MAE=0.020944 rank=4
[SoftImpute] Iter 34: observed MAE=0.020944 rank=4
[SoftImpute] Iter 35: observed MAE=0.020944 rank=4
[SoftImpute] Iter 36: observed MAE=0.020944 rank=4
[SoftImpute] Iter 37: observed MAE=0.020944 rank=4
[SoftImpute] Iter 38: observed MAE=0.020944 rank=4
[SoftImpute] Iter 39: observed MAE=0.020944 rank=4
[SoftImpute] Iter 40: observed MAE=0.020944 rank=4
[SoftImpute] Iter 41: observed MAE=0.020944 rank=4
[SoftImpute] Iter 42: observed MAE=0.020944 rank=4
[SoftImpute] Iter 43: observed MAE=0.020944 rank=4
[SoftImpute] Iter 44: observed MAE=0.020944 rank=4
[SoftImpute] Iter 45: observed MAE=0.020944 rank=4
[SoftImpute] Iter 46: observed MAE=0.020944 rank=4
[SoftImpute] Iter 47: observed MAE=0.020944 rank=4
[SoftImpute] Iter 48: observed MAE=0.020944 rank=4
[SoftImpute] Iter 49: observed MAE=0.020944 rank=4
[SoftImpute] Iter 50: observed MAE=0.020944 rank=4
[SoftImpute] Iter 51: observed MAE=0.020944 rank=4
[SoftImpute] Iter 52: observed MAE=0.020944 rank=4
[SoftImpute] Iter 53: observed MAE=0.020944 rank=4
[SoftImpute] Iter 54: observed MAE=0.020944 rank=4
[SoftImpute] Iter 55: observed MAE=0.020944 rank=4
[SoftImpute] Iter 56: observed MAE=0.020944 rank=4
[SoftImpute] Iter 57: observed MAE=0.020944 rank=4
[SoftImpute] Iter 58: observed MAE=0.020944 rank=4
[SoftImpute] Iter 59: observed MAE=0.020944 rank=4
[SoftImpute] Iter 60: observed MAE=0.020944 rank=4
[SoftImpute] Iter 61: observed MAE=0.020944 rank=4
[SoftImpute] Iter 62: observed MAE=0.020944 rank=4
[SoftImpute] Iter 63: observed MAE=0.020944 rank=4
[SoftImpute] Iter 64: observed MAE=0.020944 rank=4
[SoftImpute] Iter 65: observed MAE=0.020944 rank=4
[SoftImpute] Iter 66: observed MAE=0.020944 rank=4
[SoftImpute] Iter 67: observed MAE=0.020944 rank=4
[SoftImpute] Iter 68: observed MAE=0.020944 rank=4
[SoftImpute] Iter 69: observed MAE=0.020944 rank=4
[SoftImpute] Iter 70: observed MAE=0.020944 rank=4
[SoftImpute] Iter 71: observed MAE=0.020944 rank=4
[SoftImpute] Iter 72: observed MAE=0.020944 rank=4
[SoftImpute] Iter 73: observed MAE=0.020944 rank=4
[SoftImpute] Iter 74: observed MAE=0.020944 rank=4
[SoftImpute] Iter 75: observed MAE=0.020944 rank=4
[SoftImpute] Iter 76: observed MAE=0.020944 rank=4
[SoftImpute] Iter 77: observed MAE=0.020944 rank=4
[SoftImpute] Iter 78: observed MAE=0.020944 rank=4
[SoftImpute] Iter 79: observed MAE=0.020944 rank=4
[SoftImpute] Iter 80: observed MAE=0.020944 rank=4
[SoftImpute] Iter 81: observed MAE=0.020944 rank=4
[SoftImpute] Iter 82: observed MAE=0.020944 rank=4
[SoftImpute] Iter 83: observed MAE=0.020944 rank=4
[SoftImpute] Iter 84: observed MAE=0.020944 rank=4
[SoftImpute] Iter 85: observed MAE=0.020944 rank=4
[SoftImpute] Iter 86: observed MAE=0.020944 rank=4
[SoftImpute] Stopped after iteration 86 for lambda=2.495151

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 21)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
model_ols = LinearRegression()

In [ ]:
model_ols.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
model_ols.score(X_test, y_test)

0.5439291006415563

In [ ]:
from xgboost import XGBRegressor

In [ ]:
model_xgb = XGBRegressor()

In [ ]:
model_xgb.fit(X_train, y_train)

[18:02:46] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [ ]:
model_xgb.score(X_test, y_test)

0.5518604964744585

In [ ]:
import numpy as np

In [ ]:
np.sqrt(mean_squared_error(y_test, model_xgb.predict(X_test)))

231.47256340394404

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import make_scorer 
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import r2_score

In [ ]:
scorer = make_scorer(r2_score)

In [ ]:
parameters_xgb = { 'max_depth': [3, 5, 7],
 'n_estimators': [25, 50, 100]}

In [ ]:
# erform grid search on the classifier using 'scorer' as the scoring method.
grid_obj = GridSearchCV(model_xgb, parameters_xgb, scoring=scorer)

In [ ]:
grid_fit = grid_obj.fit(X_train, y_train)

[17:24:30] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:24:30] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:24:31] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:24:32] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:24:32] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:24:33] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:24:34] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:24:35] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:24:36] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:24:37] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:24:38] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:24:41] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:24:43] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:24:45] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:24:47] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:24:49] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:24:50] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:24:51] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:24:52] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:24:53] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:24:54] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:24:55] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:24:57] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:24:59] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:25:01] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:25:02] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:25:06] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:25:09] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:25:12] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:25:15] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:25:19] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:25:20] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:25:21] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:25:22] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:25:24] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:25:25] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:25:27] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:25:30] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:25:32] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:25:35] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:25:37] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:25:42] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:25:46] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:25:51] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:25:55] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[17:26:00] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [ ]:
# Get the estimator.
best_reg = grid_fit.best_estimator_

# Fit the new model.
best_reg.fit(X_train, y_train)

[17:26:05] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=5, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [ ]:
best_reg.score(X_test, y_test)

0.45544695445489913